<!doctype html>
<html ng-app="Flickr">

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>FlickrPics</title>

  <link rel="stylesheet" href="stylesheets/normalize.css" />
  <link rel="stylesheet" href="stylesheets/foundation.min.css" />
  <link rel="stylesheet" href="stylesheets/component.css">
  <link rel="stylesheet" href="stylesheets/stylesipad.css">  

</head>
<body>
<nav class="top-bar" style="">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="/">FlickrPics</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li><a href="/">Home</a></li>
          <li class="divider"></li>
          <li><a href="/">About</a></li>
          <li class="divider"></li>
          <li><a href="/">Packages</a></li>
          <li class="divider"></li>
          <li><a href="/">Contact</a></li>
          <li class="divider"></li>

        </ul>
      </section>
</nav>
<div class="padding-top-bottom" ng-controller="FlickrCtrl">
	<div class="row">
		<section role="main">
			<h3>Tags</h3>
			<div class="row">
				<div class="twelve columns">
					<div>
						<ul class="list-holder">
							<li ng-repeat="section in sections" ng-class="{clicked : isSelected(section)}">
								<a ng-click="doSearch(section)">{{section.name}}</a>
							</li>
						</ul>
					</div>
					<div class="container">		
						<div id="contacts">
							<ul class="cbp-pggrid">
								<li ng-repeat="photo in flickrResult.items">
									<div class="cbp-pgcontent">				
										<img src="{{ photo.media.m.replace('_m', '') }}" alt="{{ photo.title }}" class="photo"/>
										<div>
										<h4>{{ photo.title }}</h4>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
 
  <script src="js/foundation/jquery.js"></script>
  <script src="js/foundation.min.js"></script>

  <script src="js/angular.js"></script>
  <script src="js/angular-resource.js"></script>
  <script src="js/angular-cookies-1.0.0rc10.js"></script>
  <script src="js/common.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
